@model NetworkBillingSystem_Alpha.Models.Department

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Department Reports</h2>

<p>Please Select a Department</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-10">
            
            @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
            <div>
                <button input type="button" class="btn btn-default" id="get-report-btn">Get Report</button>
            </div>

        </div>

    </div>
    <hr />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



