@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Network Billing System</h1>
    <h2>Alpha</h2>
</div>

<div class="container">
    <div class="text-center">
        <h2 class="text-center">Click the Button Below to Get the ARP Billing Data from mdcR</h2>
        <button class="btn btn-primary test-button" id="test-button">Get Billing Data</button>
    </div>

    <div class="col-xs-12 text-justify test-output">
        <br />
        <br />
        <table class="table table-striped table-responsive" id="connected-device-table">
            <tr class="table-header">
                <th>Connected Device Mac Address</th>
                <th>Interface</th>
                <th>Department</th>
                <th>Reporting Device</th>
            </tr>


        </table>
    </div>

</div> @*End Container*@